<%= labelled_form_for @issue, :html => {:id => 'issue-form', :multipart => true} do |f| %>
  
  <%= error_messages_for 'issue', 'time_entry' %>
  
  <%= render :partial => 'conflict' if @conflict %>

  <% if @edit_allowed || !@allowed_statuses.empty? %>
    <fieldset class="form-group">
      <legend><%= l(:label_change_properties) %></legend>
      <div id="all_attributes">
        <%= render :partial => 'form', :locals => {:f => f} %>
      </div>
    </fieldset>
  <% end %>
  
  <% if User.current.allowed_to?(:log_time, @project) %>
    <fieldset class="form-group">
      <legend><%= l(:button_log_time) %></legend>
      
      <%= labelled_fields_for :time_entry, @time_entry do |time_entry| %>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="form-group custom-control inline-control">
              <%= time_entry.text_field :hours, :size => 10, :label => :label_spent_time %>
              <span class="form-control-static"><%= l(:field_hours) %></span>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="form-group custom-control">
              <%= time_entry.select :activity_id, activity_collection_for_select_options %>
            </div>
          </div>
        </div>

        <di class="form-group custom-control">
          <%= time_entry.text_field :comments, :size => 60 %>
        </di>
        
        <% @time_entry.custom_field_values.each do |value| %>
          <div class="form-group custom-control">
            <%= custom_field_tag_with_label :time_entry, value %>
          </div>
        <% end %>
      <% end %>
    </fieldset>
  <% end %>

  <fieldset class="form-group">
    <legend><%= l(:field_notes) %></legend>
    <%= f.text_area :notes, :cols => 60, :rows => 10, :class => 'wiki-edit form-control', :no_label => true %>
    <%= wikitoolbar_for 'issue_notes' %>

    <% if @issue.safe_attribute? 'private_notes' %>
      <div class="checkbox">
        <label for="issue_private_notes">
          <%= f.check_box :private_notes, :no_label => true %>
          <%= l(:field_private_notes) %>
        </label>
      </div>
    <% end %>

    <%= call_hook(:view_issues_edit_notes_bottom, { :issue => @issue, :notes => @notes, :form => f }) %>
  </fieldset>

  <fieldset class="form-group">
    <legend><%= l(:label_attachment_plural) %></legend>
    <%= render :partial => 'attachments/form', :locals => {:container => @issue} %>
  </fieldset>

  <%= f.hidden_field :lock_version %>
  <%= hidden_field_tag 'last_journal_id', params[:last_journal_id] || @issue.last_journal_id %>
  
  <%= submit_tag l(:button_submit), :class => 'btn btn-success' %>

  <div class="pull-right">
    <%= preview_link preview_edit_issue_path(:project_id => @project, :id => @issue), 'issue-form' %>
  </div>
<% end %>

<div id="preview" class="wiki"></div>
