<div class="nodata row">
  <%= form_tag({:action => 'default_configuration'}, :class => 'col-xs-12 form-inline') do %>
    <%= simple_format(l(:text_no_configuration_data)) %>
    <br>
    <div class="form-group">
      <p class="form-control-static"><%= l(:field_language) %></p>
    </div>
    <div class="form-group">
      <div class="col-sm-6">
        <%= select_tag 'lang', options_for_select(lang_options_for_select(false), current_language.to_s), :class => 'form-control' %>
      </div>
      <div class="col-sm-6">
        <%= submit_tag l(:text_load_default_configuration), :class => 'btn btn-success' %>
      </div>
    </div>
    <br>
  <% end %>
</div>
