<div class="page-header">
  <h2><%= icon('info-circle') %><%=l(:label_information_plural)%></h2>
</div>

<div class="panel panel-info">
  <div class="panel-heading"><%=l(:label_information_plural)%></div>
  <table class="table">
    <% @checklist.each do |label, result| %>
      <tr class="<%= cycle 'odd', 'even' %>">
        <td class="name"><%= l(label) %></td>
        <td class="tick text-<%= (result ? 'success' : 'warning') %>"><%= icon((result ? 'check' : 'warning')) %></td>
      </tr>
    <% end %>
  </table>
</div>

<pre class="panel-body"><%= Yield::Info.environment %></pre>

<% html_title(l(:label_information_plural)) -%>
