<div class="page-header">
  <%= link_to icon("plus") + " #{l(:label_project_new)}", {:controller => 'projects', :action => 'new'}, :class => 'btn btn-success pull-right' %>
  <h2>
    <%= icon("cubes") %> <%= l(:label_project_plural) %>
  </h2>
</div>

<%= form_tag({}, :method => :get) do %>
  <!-- Filters Panel Start -->
  <div id="filters" class="panel panel-default">
    <div class="panel-heading" role="tab" id="filters-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#filters-collapse" aria-expanded="true" aria-controls="filters-collapse">
          <%= l(:label_filter_plural) %>
        </a>
      </h4>
    </div>
    <div id="filters-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="filters-heading">
      <div class="panel-body">
        <div class="row">
          <div class="form-group col-xs-12 col-sm-5">
            <label for="status"><%= l(:field_status) %></label>
            <div class="btn-group">
              <button type="submit" name="status" class="btn btn-default <%= 'active' if @status.blank? %>">
                <%= l(:label_all) %>
              </button>
              <button type="submit" name="status" class="btn btn-default <%= 'active' if @status == '1' %>" value="1">
                <%= l(:project_status_active) %>
              </button>
              <button type="submit" name="status" class="btn btn-default <%= 'active' if @status == '5' %>" value="5">
                <%= l(:project_status_closed) %>
              </button>
              <button type="submit" name="status" class="btn btn-default <%= 'active' if @status == '9' %>" value="9">
                <%= l(:project_status_archived) %>
              </button>
            </div>
          </div>

          <div class="col-sm-2 col-xs-12 pull-right text-right">
            <%= link_to icon("ban") + " #{l(:button_clear)}", {:controller => 'admin', :action => 'projects'}, :class => 'btn btn-default' %>
          </div>

          <div class="col-sm-5 col-xs-12 pull-right">
            <div class="input-group">
              <%= text_field_tag 'name', params[:name], :size => 30, :class => "form-control", :placeholder => l(:label_project) %>
              <span class="input-group-btn">
                <%= submit_tag l(:button_apply), :class => "btn btn-default", :name => nil %>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Filters Panel End -->
<% end %>

<table class="table">
  <thead>
    <tr>
      <th><%=l(:label_project)%></th>
      <th><%=l(:field_is_public)%></th>
      <th><%=l(:field_created_on)%></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% project_tree(@projects) do |project, level| %>
      <tr class="<%= cycle("odd", "even") %> <%= project.css_classes %> <%= level > 0 ? "idnt idnt-#{level}" : nil %>">
        <td class="name"><span><%= link_to_project_settings(project, {}, :title => project.short_description) %></span></td>
        <td class="text-success"><%= icon('check') if project.is_public? %></td>
        <td><%= format_date(project.created_on) %></td>
        <td class="text-right">
          <%= link_to(l(:button_archive), { :controller => 'projects', :action => 'archive', :id => project, :status => params[:status] }, :data => {:confirm => l(:text_are_you_sure)}, :method => :post, :class => 'btn btn-warning btn-xs') unless project.archived? %>
          <%= link_to(l(:button_unarchive), { :controller => 'projects', :action => 'unarchive', :id => project, :status => params[:status] }, :method => :post, :class => 'btn btn-primary btn-xs') if project.archived? && (project.parent.nil? || !project.parent.archived?) %>
          <%= link_to(l(:button_copy), { :controller => 'projects', :action => 'copy', :id => project }, :class => 'btn btn-default btn-xs') %>
          <%= link_to(l(:button_delete), project_path(project), :method => :delete, :class => 'btn btn-danger btn-xs') %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
