<% roles = Role.find_all_givable %>
<% projects = Project.active.all %>

<div class="col-xs-12 col-md-8">
  <% if @group.memberships.any? %>
    <table class="table memberships">
      <thead>
        <tr>
          <th><%= l(:label_project) %></th>
          <th><%= l(:label_role_plural) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @group.memberships.each do |membership| %>
        <% next if membership.new_record? %>
          <tr id="member-<%= membership.id %>" class="<%= cycle 'odd', 'even' %> class">
            <td class="project"><%= link_to_project membership.project %></td>
            <td class="roles">
              <span id="member-<%= membership.id %>-roles"><%=h membership.roles.sort.collect(&:to_s).join(', ') %></span>
              <%= form_for(:membership, :remote => true, :url => { :action => 'edit_membership', :id => @group, :membership_id => membership }, :html => { :id => "member-#{membership.id}-roles-form", :style => 'display:none;'}) do %>
                  <div class="form-group">
                    <% roles.each do |role| %>
                      <div class="checkbox">
                        <label>
                          <%= check_box_tag 'membership[role_ids][]', role.id, membership.roles.include?(role), :id => nil %> <%=h role %>
                        </label>
                      </div>
                    <% end %>
                  </div>
                  <div class="form-group">
                    <%= submit_tag l(:button_change) %>
                    <%= link_to_function( l(:button_cancel), "$('#member-#{membership.id}-roles').show(); $('#member-#{membership.id}-roles-form').hide(); return false;" ) %>
                  </div>
              <% end %>
            </td>
            <td class="buttons text-right">
              <%= link_to_function( l(:button_edit), "$('#member-#{membership.id}-roles').hide(); $('#member-#{membership.id}-roles-form').show(); return false;", :class => 'btn btn-default btn-xs' ) %>
              <%= delete_link({:controller => 'groups', :action => 'destroy_membership', :id => @group, :membership_id => membership}, :remote => true, :method => :post) %>
            </td>
          </tr>
        <% end; reset_cycle %>
      </tbody>
    </table>

  <% else %>
    <div class="nodata alert alert-warning"><%= l(:label_no_data) %></div>
  <% end %>
</div>

<div class="col-xs-12 col-md-4">
  <% if projects.any? %>
    <fieldset>
      <legend><%=l(:label_project_new)%></legend>
      <%= form_for(:membership, :remote => true, :url => { :action => 'edit_membership', :id => @group }) do %>
        <div class="form-group">
          <%= label_tag "membership_project_id", l(:description_choose_project), :class => "hidden-for-sighted" %>
          <%= select_tag 'membership[project_id]', options_for_membership_project_select(@group, projects), :class => 'form-control' %>
        </div>
        
        <div class="form-group">
          <%= l(:label_role_plural) %>:
          <% roles.each do |role| %>
            <div class="checkbox">
              <label>
                <%= check_box_tag 'membership[role_ids][]', role.id, false, :id => nil %> <%=h role %>
              </label>
            </div>
          <% end %>
        </div>

        <div class="form-group">
          <%= submit_tag l(:button_add), :class => 'btn btn-success' %>
        </div>
      <% end %>
    </fieldset>
  <% end %>
</div>
