<div class="col-xs-12 col-md-8">
  <% if @group.users.any? %>
    <table class="table users">
      <thead>
        <tr>
          <th><%= l(:label_user) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @group.users.sort.each do |user| %>
          <tr id="user-<%= user.id %>" class="<%= cycle 'odd', 'even' %>">
            <td class="name"><%= link_to_user user %></td>
            <td class="buttons text-right">
              <%= delete_link group_user_path(@group, :user_id => user), :remote => true %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="nodata alert alert-warning"><%= l(:label_no_data) %></div>
  <% end %>
</div>

<div class="col-xs-12 col-md-4">
  <%= form_for(@group, :remote => true, :url => group_users_path(@group), :html => {:method => :post}) do |f| %>
    <fieldset>
      <legend>
        <%=l(:label_user_new)%>
      </legend>
      <div class="form-grou[">
        <%= label_tag "user_search", l(:label_user_search) %>
        <%= text_field_tag 'user_search', nil, :class => 'form-control' %>
      </div>
        <%= javascript_tag "observeSearchfield('user_search', null, '#{ escape_javascript autocomplete_for_user_group_path(@group) }')" %>

      <div id="users">
        <%= render_principals_for_new_group_users(@group) %>
      </div>

      <div class="form-group">
        <%= submit_tag l(:button_add), :class => 'btn btn-success' %>
      </div>
    </fieldset>
  <% end %>
</div>
