<div class="page-header">
  <%= title [l(:label_group_plural), groups_path], l(:label_group_new) %>
</div>

<%= labelled_form_for @group do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <div class="form-group">
    <%= f.submit l(:button_create), :class => 'btn btn-success' %>
    <%= f.submit l(:button_create_and_continue), :name => 'continue', :class => 'btn btn-default' %>
  </div>
<% end %>
