<%= labelled_fields_for :pref, @user.pref do |pref_fields| %>
  <div class="form-group">
    <div class="checkbox pref-field">
      <%= pref_fields.check_box :hide_mail %>
    </div>
  </div>
  <div class="form-group custom-control">
    <%= pref_fields.time_zone_select :time_zone, nil, :include_blank => true, :class => 'form-control' %>
  </div>
  <div class="form-group custom-control">
    <%= pref_fields.select :comments_sorting, [[l(:label_chronological_order), 'asc'], [l(:label_reverse_chronological_order), 'desc']], :class => "form-control" %>
  </div>
  <div class="form-group">
    <div class="checkbox pref-field">
      <%= pref_fields.check_box :warn_on_leaving_unsaved %>
    </div>
  </div>
<% end %>
