<div id="attachments_fields" class="form-group">
  <% if defined?(container) && container && container.saved_attachments %>
    <% container.saved_attachments.each_with_index do |attachment, i| %>
      <div class="form-group" id="attachments_p<%= i %>">
        <div class="row">
          <div class="col-xs-12 col-sm-5">
            <%= text_field_tag("attachments[p#{i}][filename]", attachment.filename, :class => 'filename form-control') %>
          </div>
          <div class="col-xs-12 col-sm-5">
            <%= text_field_tag("attachments[p#{i}][description]", attachment.description, :maxlength => 255, :placeholder => l(:label_optional_description), :class => 'description form-control col-xs-12 col-sm-6') %>
          </div>
          <div class="col-xs-12 col-sm-2">
            <%= link_to(icon('trash') + l(:button_delete), attachment_path(attachment, :attachment_id => "p#{i}", :format => 'js'), :method => 'delete', :remote => true, :class => 'remove-upload btn btn-danger col-xs-12') %>
          </div>
          <%= hidden_field_tag "attachments[p#{i}][token]", "#{attachment.token}" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="add_attachment form-inline">
  <div class="form-group">
    <%= file_field_tag 'attachments[dummy][file]', :id => nil, :class => 'file_selector btn btn-default btn-file', :multiple => true, :onchange => 'addInputFiles(this);', :data => { :max_file_size => Setting.attachment_max_size.to_i.kilobytes, :max_file_size_message => l(:error_attachment_too_big, :max_size => number_to_human_size(Setting.attachment_max_size.to_i.kilobytes)), :max_concurrent_uploads => Yield::Configuration['max_concurrent_ajax_uploads'].to_i, :upload_path => uploads_path(:format => 'js'), :description_placeholder => l(:label_optional_description)} %>
  </div>
  <div class="form-group">
    <span class="form-control-static">
      <%= l(:label_max_size) %>: <%= number_to_human_size(Setting.attachment_max_size.to_i.kilobytes) %>
    </span>
  </div>
</div>

<% content_for :header_tags do %>
  <%= javascript_include_tag 'attachments' %>
<% end %>
