<div id="query_form_with_buttons" class="row hide-when-print">
  <div id="query_form_content" class="panel-group col-xs-12" role="tablist" aria-multiselectable="true">
    <!-- Filters Panel Start -->
    <fieldset id="filters" class="form-group">
      <legend>
          <%= l(:label_filter_plural) %>
        <a data-toggle="collapse" class="btn btn-link" href="#filters-collapse" aria-expanded="true" aria-controls="filters-collapse">
          <span class="caret"></span>
        </a>
      </legend>
      <div id="filters-collapse" class="collapse" aria-labelledby="filters-heading">
        <%= render :partial => 'queries/filters', :locals => {:query => @query} %>
      </div>
    </fieldset>
    <!-- Filters Panel End -->
    <!-- Options Panel Start -->
    <fieldset id="options" class="form-group">
      <legend>
        <%= l(:label_options) %>
        <a data-toggle="collapse" class="btn btn-link" href="#options-collapse" aria-expanded="true" aria-controls="options-collapse">
          <span class="caret"></span>
        </a>
      </legend>
      <div id="options-collapse" class="collapse" role="tabpanel" aria-labelledby="options-heading">
        <div class="row">
          <div class="col-xs-12 col-md-2">
            <%= l(:field_column_names) %>
          </div>
          <div class="col-xs-12 col-md-10">
            <%= render_query_columns_selection(@query) %>
          </div>
        </div>
      </div>
    </fieldset>
    <!-- Options Panel End -->
  </div>

  <div class="col-xs-12">
    <div class="btn-group pull-right">
      <%= link_to_function l(:button_apply), 'submit_query_form("query_form")', :class => 'btn btn-success' %>
      <%= link_to l(:button_clear), {:project_id => @project, :issue_id => @issue}, :class => 'btn btn-default'  %>
    </div>
  </div>
</div>

<div class="row hide-when-print">
  <div class="col-xs-12">
    <% query_params = params.slice(:f, :op, :v, :sort) %>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="<%= (action_name == 'index' ? 'active' : nil) %>">
          <%= link_to(l(:label_details), _time_entries_path(@project, @issue, query_params)) %>
        </li>
        <li role="presentation" class="<%= (action_name == 'report' ? 'active' : nil) %>">
          <%= link_to(l(:label_report), _report_time_entries_path(@project, @issue, query_params)) %>
        </li>
    </ul>
  </div>
</div>
