<div class="page-header">
  <div class="pull-right">
    <%= watcher_link(@wiki, User.current) %>
  </div>
  <h2><%= l(:label_index_by_title) %></h2>
</div>

<% if @pages.empty? %>
  <div class="nodata alert alert-warning"><%= l(:label_no_data) %></div>
<% end %>

<%= render_page_hierarchy(@pages_by_parent_id, nil, :timestamp => true) %>

<% content_for :sidebar do %>
  <%= render :partial => 'sidebar' %>
<% end %>

<% unless @pages.empty? %>
  <% other_formats_links do |f| %>
    <%= f.link_to 'Atom', :url => {:controller => 'activities', :action => 'index', :id => @project, :class => 'label label-primary', :show_wiki_edits => 1, :key => User.current.rss_key} %>

    <% if User.current.allowed_to?(:export_wiki_pages, @project) %>
      <%= f.link_to('PDF', :url => {:action => 'export', :format => 'pdf'}, :class => 'label label-danger') %>
      <%= f.link_to('HTML', :url => {:action => 'export'}, :class => 'label label-success') %>
    <% end %>
  <% end %>
<% end %>

<% content_for :header_tags do %>
  <%= auto_discovery_link_tag( :atom, :controller => 'activities', :action => 'index', :id => @project, :show_wiki_edits => 1, :format => 'atom', :key => User.current.rss_key) %>
<% end %>
