<div class="summary panel panel-info">
	<div class="panel-heading">
		<%= link_to_project(news.project) + ': ' unless @project %>
		<%= link_to news.title, news_path(news) %>

		<% if news.comments_count > 0 %>
			<span class="badge pull-right">
				<%= l(:label_x_comments, :count => news.comments_count) %>
			</span>
		<% end %>
	</div>

	<div class="panel-body">
		<% unless news.summary.blank? %>
			<%=h news.summary %>
		<% end %>
	</div>
	<div class="author panel-footer"><i><%= authoring news.created_on, news.author %></i></div>
</div>