<%= form_tag({:action => 'edit'}) do %>
  <div class="form-group">
    <%= setting_text_field :app_title, :size => 30, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= setting_text_area :welcome_text, :cols => 60, :rows => 5, :class => 'wiki-edit form-control' %>
  </div>
  <%= wikitoolbar_for 'settings_welcome_text' %>

  <div class="form-group custom-control inline-control">
    <%= setting_text_field :attachment_max_size, :size => 10 %>
    <%= l(:"number.human.storage_units.units.kb") %>
  </div>

  <div class="form-group">
    <%= setting_text_field :per_page_options, :size => 20, :class => 'form-control' %>
    <span class="help-block"><%= l(:text_comma_separated) %></span>
  </div>

  <div class="form-group custom-control inline-control">
    <%= setting_text_field :activity_days_default, :size => 10 %>
    <%= l(:label_day_plural) %>
  </div>

  <div class="form-group">
    <%= setting_text_field :host_name, :size => 60, :class => 'form-control' %>
    <span class="help-block" class="info"><%= l(:label_example) %>: <%= @guessed_host_and_path %></span>
  </div>

  <div class="form-group">
    <%= setting_select :protocol, [['HTTP', 'http'], ['HTTPS', 'https']], :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= setting_select :text_formatting, Yield::WikiFormatting.formats_for_select, :blank => :label_none, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <div class="checkbox custom-checkbox">
      <%= setting_check_box :cache_formatted_text %>
    </div>
  </div>

  <div class="form-group">
    <%= setting_select :wiki_compression, [['Gzip', 'gzip']], :blank => :label_none, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= setting_text_field :feeds_limit, :size => 6, :class => 'form-control' %>
  </div>

  <div class="form-group custom-control inline-control">
    <%= setting_text_field :file_max_size_displayed, :size => 10 %>
    <%= l(:"number.human.storage_units.units.kb") %>
  </div>

  <div class="form-group">
    <%= setting_text_field :diff_max_lines_displayed, :size => 6, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= setting_text_field :repositories_encodings, :size => 60, :class => 'form-control' %>
    <span class="help-block"><%= l(:text_comma_separated) %></span>
  </div>

  <%= call_hook(:view_settings_general_form) %>

  <%= submit_tag l(:button_save), :class => 'btn btn-success' %>
<% end %>
