<div id="add-document" style="display:none;">
  <div class="page-header">
    <h2><%=l(:label_document_new)%></h2>
  </div>
  <%= labelled_form_for @document, :url => project_documents_path(@project), :html => {:multipart => true} do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
    <div class="form-group">
      <%= submit_tag l(:button_create), :class => 'btn btn-success' %>
      <%= link_to l(:button_cancel), "#", :onclick => '$("#add-document").hide(); return false;', :class => 'btn btn-default' %>
    </div>
  <% end %>
</div>

<div class="page-header">
  <div class="pull-right">
    <%= link_to icon('plus') + l(:label_document_new), new_project_document_path(@project), :class => 'btn btn-success', :onclick => 'showAndScrollTo("add-document", "document_title"); return false;' if User.current.allowed_to?(:add_documents, @project) %>
  </div>
  <h2><%=l(:label_document_plural)%></h2>
</div>

<% if @grouped.empty? %>
  <div class="nodata alert alert-warning"><%= l(:label_no_data) %></div>
<% end %>

<% @grouped.keys.sort.each do |group| %>
  <div class="page-header">
    <h3><%= group %></h3>
  </div>
  <%= render :partial => 'documents/document', :collection => @grouped[group] %>
<% end %>

<% content_for :sidebar do %>
  <div class="page-header">
    <h3><%= l(:label_sort_by, '') %></h3>
  </div>
  <ul class="nav nav-stacked">
    <li>
      <%= link_to(l(:field_category), {:sort_by => 'category'}, :class => (@sort_by == 'category' ? 'selected' :nil)) %>
    </li>
    <li>
      <%= link_to(l(:label_date), {:sort_by => 'date'}, :class => (@sort_by == 'date' ? 'selected' :nil)) %>
    </li>
    <li>
      <%= link_to(l(:field_title), {:sort_by => 'title'}, :class => (@sort_by == 'title' ? 'selected' :nil)) %>
    </li>
    <li>
      <%= link_to(l(:field_author), {:sort_by => 'author'}, :class => (@sort_by == 'author' ? 'selected' :nil)) %>
    </li>
  </ul>
<% end %>

<% html_title(l(:label_document_plural)) -%>
