<% if @total_hours.present? %>
  <div class="page-header">
    <h3><%= l(:label_spent_time) %></h3>
  </div>
  <p><%= icon('clock-o') %> <%= l_hours(@total_hours) %></p>
  <p>
    <% if User.current.allowed_to?(:log_time, @project) %>
      <%= link_to l(:button_log_time), new_project_time_entry_path(@project), :class => 'btn btn-default' %>
    <% end %>
    <%= link_to(l(:label_details), project_time_entries_path(@project), :class => 'btn btn-default') %>
    <%= link_to(l(:label_report), report_project_time_entries_path(@project), :class => 'btn btn-default') %>
  </p>
<% end %>

<%= call_hook(:view_projects_show_sidebar_bottom, :project => @project) %>
