<div class="form-inline query-columns">
  <div class="form-group">
    <p>
      <%= l(:description_available_columns) %>
    </p>
    <%= select_tag 'available_columns', options_for_select(query_available_inline_columns_options(query)), :class => 'form-control', :style => 'min-width:150px', :multiple => true, :size => 10, :ondblclick => "moveOptions(this.form.available_columns, this.form.selected_columns);" %>
  </div>
  <div class="form-group">
    <br>
    <div class="btn-group-vertical">
      <a class="btn btn-default btn-sm icon-only" onclick="moveOptions(this.form.available_columns, this.form.selected_columns);">
        <i class="fa fa-arrow-circle-right"></i>
      </a>
      <a class="btn btn-default btn-sm icon-only" onclick="moveOptions(this.form.selected_columns, this.form.available_columns);">
        <i class="fa fa-arrow-circle-left"></i>
      </a>
    </div>
  </div>
  <div class="form-group">
    <p>
      <%= l(:description_selected_columns) %>
    </p>
    <%= select_tag tag_name, options_for_select(query_selected_inline_columns_options(query)), :id => 'selected_columns', :class => 'form-control', :style => 'min-width:150px', :multiple => true, :size => 10, :ondblclick => "moveOptions(this.form.selected_columns, this.form.available_columns);" %>
  </div>
  <div class="form-group">
    <br>
    <div class="btn-group-vertical">
      <a class="btn btn-default btn-sm icon-only" onclick="moveOptionTop(this.form.selected_columns);">
        <i class="fa fa-arrow-circle-up"></i>
      </a>
      <a class="btn btn-default btn-sm icon-only" onclick="moveOptionUp(this.form.selected_columns);">
        <i class="fa fa-arrow-circle-o-up"></i>
      </a>
      <a class="btn btn-default btn-sm icon-only" onclick="moveOptionDown(this.form.selected_columns);">
        <i class="fa fa-arrow-circle-o-down"></i>
      </a>
      <a class="btn btn-default btn-sm icon-only" onclick="moveOptionBottom(this.form.selected_columns);">
        <i class="fa fa-arrow-circle-down"></i>
      </a>
    </div>
  </div>
</div>

<% content_for :header_tags do %>
<%= javascript_include_tag 'select_list_move' %>
<% end %>
