<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist" id="tabs">
  <% tabs.each do |tab| -%>
    <li class="<%= tab[:name] != selected_tab ? nil : 'active'%>">
      <a href="#<%= tab[:name] %>" data-toggle="tab" role="tab">
        <%= l(tab[:label]) %>
      </a>
    </li>
  <% end -%>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <% tabs.each do |tab| -%>
    <div id="<%= tab[:name] %>" class="tabpane <%= tab[:name] != selected_tab ? 'tab-pane' : 'tab-pane active' %>" role="tabpanel">
      <%= render(:partial => tab[:partial], :locals => {:tab => tab} ) %>
    </div>
  <% end -%>
</div>

<script>
  $('#tabs a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
</script>