<!DOCTYPE html>
<html lang="<%= current_language %>">
<head>
  <meta charset="utf-8" />
  <title><%=h html_title %></title>
  <meta name="description" content="<%= Yield::Info.app_name %>" />
  <meta name="keywords" content="issue,bug,tracker" />
  <%= csrf_meta_tag %>
  <%= favicon %>
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <%= stylesheet_link_tag 'rtl', :media => 'all' if l(:direction) == 'rtl' %>
  <%= javascript_heads %>
  <%= heads_for_theme %>
  <%= call_hook :view_layouts_base_html_head %>
  <!-- page specific tags -->
  <%= yield :header_tags -%>
</head>

<body class="<%=h body_css_classes %>">

  <nav id="top-bar" class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <%= link_to image_tag("yield-logo.svg"), '/', :class => "navbar-brand", :title => Yield::Info.app_name %>

        <p class="navbar-text"><%= page_header_title %></p>
      </div>

      <div class="collapse navbar-collapse" id="top-navbar-collapse">

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <% if User.current.logged? %>
                <%= avatar(User.current, :size => "26") %>
              <% else %>
                <%= l(:label_login) %>
              <% end %>
              <span class="caret"></span>
            </a>
            <%= render_menu :account_menu, nil, 'dropdown-menu' -%>
          </li>
        </ul>

        <%= render_menu :top_menu, nil, 'nav navbar-nav navbar-right' if User.current.logged? || !Setting.login_required? -%>

        <% if User.current.logged? || !Setting.login_required? %>
            <%= form_tag({:controller => 'search', :action => 'index', :id => @project}, :method => :get, :class => 'navbar-form navbar-right' ) do %>
              <div class="form-group">
                <%= hidden_field_tag(controller.default_search_scope, 1, :id => nil) if controller.default_search_scope %>
                <%= text_field_tag 'q', @question, :size => 20, :class => 'form-control', :placeholder => l(:label_search), :accesskey => accesskey(:quick_search) %>
              </div>
            <% end %>
        <% end %>

      </div>
    </div>
  </nav>

  <% if display_main_menu?(@project) %>
    <div id="main-bar" class="navbar navbar-default">
      <div class="container">
        <%= render_main_menu(@project) %>
      </div>
    </div>
  <% end %>

  <div id="main" class="<%= sidebar_content? ? '' : 'nosidebar' %>">
    <div class="container">
      <div class="row">
        <% if sidebar_content? %>
          <div id="sidebar" class="col-xs-12 col-md-3">
            <%= yield :sidebar %>
            <%= view_layouts_base_sidebar_hook_response %>
          </div>
        <% end %>

        <div id="content" class="<%= sidebar_content? ? 'col-xs-12 col-md-9' : 'col-xs-12' %>">
          <%= render_flash_messages %>
          <%= yield %>
          <%= call_hook :view_layouts_base_content %>
        </div>
      </div>
    </div>
  </div>

  <div id="footer" class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text navbar-left">
        Powered by <%= link_to Yield::Info.app_name, Yield::Info.url %> Project Management
      </p>
      <p class="navbar-text navbar-right">
        &copy; Copyright 2014 Hardpixel
      </p>
    </div>
  </div>

  <%= call_hook :view_layouts_base_body_bottom %>
</body>
</html>
